body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

img {
    width: 400px;
    height: 400px;
}

images {
    justify-content: center;
    align-items: center;
}

h1 {
    padding-left: 150px;
    color: white;
    text-transform: uppercase;
    padding-top: 50px;
}
#para{
    padding-left: 150px;
}
.list{
    padding-left: 150px;
}



#head {
    color: rgb(14, 13, 13);
}

p {
    font-weight: normal;
}
.images ol li{
    display: inline-block;
    padding: 20px;
}